# *Hourly Mean Solar Rdiation data*

In [1]:
import os
from pandas import *
import numpy as np
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import datetime as datetime
from timeseries_writer import *
oms_project_path = os.getcwd()

In [2]:
os.chdir(oms_project_path+"/SpikeII")
#os.listdir()

### Open dataset

In [3]:
df_15min = pd.read_csv('Solar_Radiation.csv',skiprows=6,parse_dates=[1])
df_15min = df_15min.drop(['Format'],axis=1) 
df_15min.columns = ['Time','Rad']
df_15min.set_index('Time',inplace=True)
df_15min

                      Rad
Time
2018-05-10 00:00:00 -0.71
2018-05-10 00:15:00 -0.66
2018-05-10 00:30:00 -0.62
2018-05-10 00:45:00 -0.71
2018-05-10 01:00:00 -0.66
...                   ...
2018-07-01 22:45:00  0.76
2018-07-01 23:00:00  0.71
2018-07-01 23:15:00  0.66
2018-07-01 23:30:00  0.57
2018-07-01 23:45:00  0.57

[5088 rows x 1 columns]

### Extracting dataset

If you want to select data by time, use this code

#crei una serie temporale con le date orarie
date_rng=pd.date_range(start='2018-05-10 00:00',end='2018-07-01 00:00',freq='1H')

#crei il dataframe con le date
df_dates = pd.DataFrame({'Time': date_rng})
df_dates.set_index('Time',inplace=True)

#estrai dal dataframe di 15 min le date che ti servono
df_dates = df_dates.join(df_15min, how='inner')
df_dates.head()

If you want to create an hourly time series using the mean:

In [4]:
df=df_15min.resample('1H').mean()
df

                         Rad
Time
2018-05-10 00:00:00  -0.6750
2018-05-10 01:00:00  -0.6150
2018-05-10 02:00:00  -0.6150
2018-05-10 03:00:00  -0.6300
2018-05-10 04:00:00  -0.7100
...                      ...
2018-07-01 19:00:00  60.4550
2018-07-01 20:00:00  12.4900
2018-07-01 21:00:00   1.1825
2018-07-01 22:00:00   0.8775
2018-07-01 23:00:00   0.6275

[1272 rows x 1 columns]

In [5]:
ID_basin = 1

In [6]:
df.reset_index(inplace=True)
df

                    Time      Rad
0    2018-05-10 00:00:00  -0.6750
1    2018-05-10 01:00:00  -0.6150
2    2018-05-10 02:00:00  -0.6150
3    2018-05-10 03:00:00  -0.6300
4    2018-05-10 04:00:00  -0.7100
...                  ...      ...
1267 2018-07-01 19:00:00  60.4550
1268 2018-07-01 20:00:00  12.4900
1269 2018-07-01 21:00:00   1.1825
1270 2018-07-01 22:00:00   0.8775
1271 2018-07-01 23:00:00   0.6275

[1272 rows x 2 columns]

In [7]:
df.insert(loc=0, column='-', value=np.nan)
df.head()

    -                Time    Rad
0 NaN 2018-05-10 00:00:00 -0.675
1 NaN 2018-05-10 01:00:00 -0.615
2 NaN 2018-05-10 02:00:00 -0.615
3 NaN 2018-05-10 03:00:00 -0.630
4 NaN 2018-05-10 04:00:00 -0.710

In [8]:
write_timeseries_csv(df,'Solar_Radiation1h',ID_basin)

***SUCCESS writing!  Solar_Radiation1h